.tv-shows-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.tv-shows-card button {
    margin-bottom: 10px;
    cursor: pointer;
}

.tv-shows-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.tv-shows-card .font-semibold {
    font-weight: bold;
}
.selected {
    color: red;
}